<div class="container">
  <div class="login-form-container p-5 rounded custom-modal mt-3" style="border: 1px solid #ddddd3">
    <h2 class="login-form-header border-bottom mb-3 pb-3">Sign up</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", class: 'event-form-inputs mb-3' }%>
        <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: 'event-form-inputs mb-3' } %>
        <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", class: 'event-form-inputs mb-3' } %>
        <%= f.input :first_name,
                required: true, input_html: { class: 'event-form-inputs mb-3' } %>
        <%= f.input :last_name,
                required: true, input_html: { class: 'event-form-inputs mb-3' } %>
        <%= f.input :location,
                required: true, input_html: { class: 'event-form-inputs mb-3' } %>
        <%= f.input :role,
                required: true, input_html: { class: 'event-form-inputs mb-3' } %>
      </div>
      <div class="form-actions form-group">
        <%= f.button :submit, "Sign Up", class: "brand-btn btn-lg event-submit-button col-4 mx-auto" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
